@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');


.leftsidebar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 25%;
    background-color: rgb(240, 242, 245);
    width: 210px;
    height: 285px;
    margin: 0% 1%;
    border-radius: 15px;
}

.leftsidebar p {
    padding-left: 15%;
    
}


.leftsidebar li {
    padding: 5% 0%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 25px;
}

.leftsidebarmob{
    display: none;
}

@media screen and (max-width: 1007px) {
    .leftsidebar {
      display: none;
    }

    .leftsidebarmob{
        display: flex;
    }
  
    
}