@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

*{
    margin: 0%;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background-color: 	rgb(0, 128, 128);
    height: 50px;
    width: 100%;
    display: flex;
    padding: 0% 2%;
    position: fixed;
}

.headerleft{
    flex: 4;
    display: flex;
    align-items: center;
}

.headerleft h1 {
    font-size: 30px;
    font-family: 'Old Standard TT', serif;
}

.headercenter {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.headercenter img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 5px 5px 1px  black;
    border: 2px solid rgb(0, 204, 204);
    object-fit: cover;
    cursor: pointer;
    margin-top: 50px;
}

.headerright{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 4%;
}

.search {
    background-color: white;
    border-radius: 50px;
}

.material-icons {
    background:rgb(0, 204, 204);
}