
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap');

.page{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.logo {
    flex: 6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-family: 'Old Standard TT';
    color: white;
    font-size: 80px;
    text-shadow: -20px 20px 15px black;
    margin: auto;
}

.formdiv {
    flex: 6;
    align-items: center;
    position: relative;
    display: flex;
}

.form {
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 25px;
    box-shadow: -20px 20px 15px black;
    display: flex;
    flex-direction: column;

}
